<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364650020241-l4p1rrudboc237ni801a06kf04jo1di0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364650020241-l4p1rrudboc237ni801a06kf04jo1di0</string>
	<key>API_KEY</key>
	<string>AIzaSyB1knqquKTEqu_KDVy6u71jt5L6fLmxQgU</string>
	<key>GCM_SENDER_ID</key>
	<string>364650020241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrosGarcia.ArtableAdmin</string>
	<key>PROJECT_ID</key>
	<string>artable-e96bb</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-e96bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364650020241:ios:8964648d9df59f1673ee30</string>
	<key>DATABASE_URL</key>
	<string>https://artable-e96bb.firebaseio.com</string>
</dict>
</plist>